<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MVC Blog</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/css/blog-home.css" rel="stylesheet">
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index/">MVC Blog</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Home/Hakkimizda/">Hakkımızda</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="/Home/Iletisim/">İletişim</a>
                    </li>
                </ul>



                <ul class="nav navbar-nav navbar-right top-nav">
                    @if (Session["uyeid"] != null)
                    { 
                        <li class="dropdown">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> @Session["kullaniciadi"].ToString() <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                              
                                <li>
                                    <a href="/Uye/Index/@Session["uyeid"]">@Session["kullaniciadi"].ToString()<i class="" ></i> Profil</a>
                                </li>
                                
                             
                                <li>
                                    <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                                </li>
                                @if (Convert.ToInt32(Session["yetkiid"]) == 1)
                                {
                                <li>
                                    <a href="/Admin/Index/" target="_blank"><i class="fa fa-fw fa-gear"></i> Admin Paneli</a>
                                </li>
                                }
                                <li class="divider"></li>
                                <li>
                                    <a href="/Uye/Logout/"><i class="fa fa-fw fa-power-off"></i> Çıkış</a>
                                </li>
                               
                               
                               
                               
                                
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="/Uye/Login/">Giriş</a>
                        </li>
                        <li>
                            <a href="/Uye/Create/">Kayıt OL</a>
                        </li>
                    }
                    </ul>

                </div>
            <!-- /.navbar-collapse -->
            </div>
        <!-- /.container -->
        </nav>
    <!-- Page Content -->
                        <div class="container">
                            <div class="row">
                                <!-- Blog Entries Column -->

                                @RenderBody()



                                <!-- Blog Sidebar Widgets Column -->
                                <div class="col-md-4">
                                    <!-- Blog Search Well -->
                                    <div class="well">
                                        @Html.Partial("BlogAraPartial")
                                        <!-- /.input-group -->
                                    </div>
                                    <!-- Blog Categories Well -->
                                    <div class="well">

                                        @{
                                            Html.RenderAction("KategoriPartial", "Home");
                                        }

                                    </div>
                                    <div class="well">
                                        @{
                                            Html.RenderAction("PopulerMakaleler", "Home");
                                        }
                                    </div>
                                    <div class="well">
                                        @{
                                            Html.RenderAction("SonYorumlar", "Home");
                                        }
                                    </div>
                                    <!-- /.col-lg-6 -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- Side Widget Well -->

                        </div>

    <!-- /.row -->
                                            <hr>
    <!-- Footer -->
                                            <footer>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <p>Copyright &copy; @DateTime.Now.Year</p>
                                                    </div>
                                                    <!-- /.col-lg-12 -->
                                                </div>
                                                <!-- /.row -->
                                            </footer>

    <!-- /.container -->
    <!-- jQuery -->
                                                <script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>
                                                    <script src="~/Content/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
                                                    <script src="~/Content/js/bootstrap.min.js"></script>
                                                </body>
                                            </html>
