@model IEnumerable<MvcBlog.Models.Uye>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Uyeler</h2>

<p>
    @Html.ActionLink("Yeni Uye", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Yetki.Yetki1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sifre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdSoyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Yetki.Yetki1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KullaniciAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sifre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdSoyad)
        </td>
        <td>
            <img src="@item.Foto" class="img-circle img-responsive"  width="50" alt="Alternate Text" />
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.UyeId }) |
            @Html.ActionLink("Detay", "Details", new { id=item.UyeId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.UyeId })
        </td>
    </tr>
}

</table>
