@model MvcBlog.Models.Makale

@{
    ViewBag.Title = "MakaleDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .tag {
        background-color: beige;
    }
</style>

<div class="col-md-8">
    <!-- Title -->
    <h1>@Model.Baslik</h1>
    <!-- Author -->
    <p class="lead">
        <img class="img-circle" width="75" src="@Model.Uye.Foto" alt="@Model.Uye.AdSoyad" /> <a href="/Uye/UyeProfil/@Model.UyeId">@Model.Uye.AdSoyad</a>
    </p>
    <hr>
    <!-- Date/Time -->
    <p><span class="glyphicon glyphicon-time"></span>@String.Format("{0: MMMM yyyy}", Model.Tarih) <span class="glyphicon glyphicon-edit"></span> @Model.Kategori.KategoriAdi (@Model.Kategori.Makales.Count()) <span class="glyphicon glyphicon-send"></span> @Model.Yorums.Count() </p>
    <hr>
    <!-- Preview Image -->
    <img class="img-responsive" src="@Model.Foto" alt="@Model.Baslik">
    <hr>
    <!-- Post Content -->
    <p class="lead">
        @Html.Raw(Model.Icerik)
    </p>
    <div class="well">
        @foreach (var item in Model.Etikets)
        {
            <span class="tag">@item.EtiketAdi ,</span>
        }
    </div>
    <hr>

    @if (Session["uyeid"] != null)
    {
        <div class="well">
            <h4>Yorum</h4>
            <form role="form">
                <div class="form-group">
                    <textarea id="yorum" typeof="text" class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" id="gonder" class="btn btn-primary">Yorum Yap</button>
            </form>
        </div>
    }
    else
    {
        <h2>Makaleye yorum yapmak için kullanıcı girişi yapmalısınız</h2>
        <p><a href="/Uye/Login/">Giriş Yap</a></p>
    }

    <div class="media">
        @foreach (var item in Model.Yorums.ToList())
        {
            <div class="well">
                <a class="pull-left" href="#">
                    <img width="50" class="img-circle" src="@item.Uye.Foto" alt="@item.Uye.AdSoyad">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        @item.Uye.KullaniciAdi
                        <small>@item.Tarih</small>
                    </h4>
                    @item.Icerik - @if (Convert.ToInt32(Session["uyeid"]) == item.UyeId)
                    {
                        <a class="btn btn-danger" href="/Home/YorumSil/@item.YorumId">Sil</a>
                    }
                </div>
            </div>
        }

    </div>

</div>
<script src="~/Content/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/Content/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $(document).ready(function(){
        $("#gonder").click(function () {
            var yorumunuz = $("#yorum").val();
            $.ajax({
                url: '/Home/YorumYap/',
                data: {yorum:yorumunuz, Makaleid:@Model.MakaleId},
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    alert("Başarılı "+ yorumunuz);}
                });
        });
    })



</script>

<script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            url: '/Home/OkunmaArttir/',
            data:{Makaleid: @Model.MakaleId},
            type: 'POST',
        });
    })
</script>

@*<h2>MakaleDetay</h2>

    <div>
        <h4>Makale</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Kategori.KategoriAdi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kategori.KategoriAdi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Uye.KullaniciAdi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Uye.KullaniciAdi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Baslik)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Baslik)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Icerik)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Icerik)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Foto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Foto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tarih)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tarih)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Okunma)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Okunma)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MakaleId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
